{% extends "to_do_app/base.html" %}
{% block content %}
<div class="container" style="text-align: center;">
<br>
<div class="container main-container">

	<table class= "table table-hover" id="maintable">
	<thead class="thead-dark">
		<th colspan=4>
			<h2>Active Tasks</h2>
		</th>
	</thead>
	<tbody>
	<tr>
		<td colspan=4>
		<button type="button" class="btn btn-success" id="add-new-row"><strong>Add New Task</strong></button>
		</td>
	</tr>
	{% for task in tasks %}
		{% if not task.is_checked %}
		<tr>
			<td><input type="checkbox" title="Mark as Done" class="form-check-input mark_as_done" id="{{ task.id }}"></td>
			<td><h4 align="left" id="title{{ task.id }}">{{ task.task_title }} ({{ task.author }})</h4></td>
			<td><button type="button" style="float: right;" class="btn btn-danger deleterow" title="Delete this task">Delete</button></td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
	</table>
	<hr>
	
	<table class= "table" id="completed-table">
	<thead class="thead-green">
		<th colspan=4>
			<h3>Completed Tasks</h3>
		</th>
	</thead>
	<tbody>
	{% for task in tasks %}
		{% if task.is_checked %}
		<tr>
			<td><input type="checkbox" title="Completed" class="form-check-input mark_as_undone" id="{{ task.id }}" checked></td>
			<td><h4 align="left" class="completed_tasks" id="title{{ task.id }}">{{ task.task_title }} ({{ task.author }})</h4></td>
			<td class="button-row"></td>
		</tr>
		{% endif %}
	{% endfor %}

	</tbody>
	</table>

</div>
</div>
{% endblock content %}