{% extends "to_do_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media border row center-block d-flex justify-content-center p-3">
    <img class="row-md-3 m-2 mr-3 rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="container row-md-9 media-body">
      <h3 class="account-heading">{{ user.username }}</h3>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <!-- FORM HERE -->
  <form method="POST" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
      <!-- Uses Crispy Forms -->
      {{ u_form|crispy }}
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-info" type="submit">Update</button>
      <a class="ml-5" href="{% url 'profile' %}"><input type="button" class="btn btn-danger" value="Cancel"></a>
    </div>
  </form>

</div>
{% endblock content %}