{% extends "to_do_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container auth-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <!-- Using Crispy Forms -->
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Reset Password</button>
        </div>
    </form>
</div>
{% endblock content %}