{% extends "to_do_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media border row center-block d-flex justify-content-center p-3">
    <img class="rounded-circle account-img img-responsive pull-left" src="{{ user.profile.image.url }}">
    <div class="media-body ml-4">
      <h3 class="account-heading">{{ user.username }}</h3>
      <p class="text-secondary">{{ user.email }}</p>
      <a href="{% url 'edit_profile' %}"><button class="btn btn-danger" style="border-radius: 18px;">Edit Profile</button></a>
    </div>
  </div>
</div>
{% endblock content %}