body {
max-width: 100%;
}

.table td {
    padding-left: 20px;
}


.form-check-input{
	width: 28px;
	height: 28px;
}

.form-control {
	max-width: 105%;
}

.button-row {
	text-align: right;
}

.completed_tasks {
	color: red;
	text-decoration: line-through;
}

.main-header {
    /*background-color: #092e20;*/
    background-color: indigo;
    max-width: 100%;
    height: 80px;
    color: white;
    padding: 14px;
}

.main-container {
    text-align: center;
    width: max-content;
    max-width: fit-content;
}

.title-header {
    text-align: center;
}

.thead-green {
    background-color: #81b54e;
}
