body {
    max-width: 100%;
    /*margin-top: 5rem;*/
}

.table td {
    padding-left: 20px;
    background-color: beige;
}

.form-check-input {
    width: 28px;
    height: 28px;
}

.form-control {
    max-width: 100%;
}

.button-row {
    text-align: right;
}

.completed_tasks {
    color: red;
    text-decoration: line-through;
}

.main-header {
    background-color: indigo;
    max-width: 100%;
    height: 80px;
    color: white;
    padding: 14px;
}

.main-container {
    margin-top: 100px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.title-header {
    text-align: center;
}

.thead-green {
    background-color: #81b54e;
}

.btn-side {
    background-color: #dc3545;
    border: none;
    border-radius: 10%;
    color: white;
    padding: none;
    font-size: 18px;
    cursor: pointer;
}

.profile-container {
    margin-top: 10%;
}

.bg-indigo {
    background-color: indigo;
}

#list-container1, #list-container2 {
    text-align: center;
    padding: 20px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: table;
    border-radius: 30px;
}

.auth-section {
    width: 60%;
}

.account-img {
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.media {
    align-items: center;
    background-color: rgb(248, 247, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add_task {
    font-size: 20px;
}

/*
table>table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

.content-section {
    width: 80%;
    margin: auto;
}

.fa {
    cursor: pointer;
    font-size: 30px;
}

.homepage_title {
    color: white;
    font-size: 65px;
}

.homepage_div {
    background-color: #312b2b;
    background-size: cover;
}

.tag_line {
    color: rgb(233, 241, 107);
    font-size: 18px;
    font-family: cursive;
}

.homepage_buttons {
    padding: 10px;
    font-size: 22px;
    border-radius: 36px;
    width: 120px;
}

#tag_line {
    display: none;
}

.btn_my_tasks {
    color: white;
    background-color: darkblue;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
}

.btn_my_tasks:hover {
    color: rgba(233, 236, 15, 0.979);
}

footer {
    padding: 8px;
    background-color: #2f2d2d;
    color: white;
    text-align: center;
}

.list_name {
    color: white;
    text-align: center;
    font-weight: bold;
}

.list_name_div {
    width: 90%;
    padding: 5px;
    background-color: darkcyan;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
}

.user_tasks {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}